.table{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    flex-basis: 30px;
}
.col{
    display: flex;
    word-wrap: break-word;
    word-break: break-word;
    flex-direction: column;
    flex-basis: 140px;
    justify-content: center;
    align-items: center;

}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table.cthead.ctr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table .cth,
.styled-table .ctd {
    padding: 12px 15px;
}
.styled-table .ctbody .ctr {
    border-bottom: 1px solid #dddddd;
}

.styled-table .ctbody .ctr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ctbody.ctr:last-of-type {
    border-bottom: 2px solid #009879;
}
.ctr:hover {
    font-weight: bold;
    color: #009879;
}
.ctbody {
    display: flex;
    flex-direction: column;
}
.dirc{
    display: flex;
    flex-direction: column;
}
.dirr{
    display: flex;
    flex-direction: row;
}
.bw{
    word-break: break-word;
}