* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.railway {
    max-width: 350px;
    margin: 50px auto 0;
    padding: 20px;
    background: #FAAB1B;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
}
.stripes-block {
    position: relative;
    padding: 10px 10px 15px;
    margin-bottom: 10px;
    background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
}
.stripes-block:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 12px;
    margin-left: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fffffe;
    box-shadow: 0 0 0 2px #291810, 0 0 0 12px #9c8778;
}
.line {
    width: 60%;
    margin: 0 auto;
    height: 15px;
    border: 2px solid #603624;
    border-radius: 3px;
    background: repeating-linear-gradient(90deg, #FAAB1B, #FAAB1B 3px, #603624 3px, #603624 6px);
}
.railway h3 {
    padding: 7px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: #FAAB1B;
    background: #291810;
}
.form-group {
    margin-bottom: 20px;
    padding: 10px;
    background: #291810;
}
.form-group input, .form-group label, .form-group textarea {
    display: block;
    width: 100%;
}
.form-group input, textarea, select {
    padding: 0;
    line-height: 30px;
    background: #ffd485;
    border-radius: 15px;
    border-width: 10px;
    font-weight: 600;

}
.form-group input, textarea {
    font-size: medium;
}
select {
    font-size: 15px;
    border-style: outset;
}
textarea{
    border-style: outset;
}
.form-group label {
    margin-bottom: 5px;
    color: #FAAB1B;
    text-transform: uppercase;
    font-size: 12px;
}
.submit-block {
    padding: 10px 20px 20px;
    background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
    text-align: center;
    cursor: pointer;
}
.submit-button {
    display: inline-block;
    padding: 5px 10px;
    background: #FAAB1B;
}
.submit-button input {
    padding: 0;
    background: #FAAB1B;
    border-width: 0;
    text-transform: uppercase;
    cursor: pointer;
}
input[type="radio"]{
    width: auto;
    display: inline;
}
.limbs label{
    display: inline;
}
.checkbox input{
    width: auto;
    display: inline;
}
.forminfo{
    background-color: #88ff00;
    color: #291810;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.logininfo{
    font-family: 'Oswald', sans-serif;
    background-color: #42ff36;
    color: #291810;
    font-size: larger;
    padding: 20px;
}
.imp{
    font-weight: bolder;}
.error{
    margin: 10px;
    border: crimson;
    border-radius: 5px;
    color: #dc143c;
}
a {
    padding: 10px;
    color: #ff00b1;
    text-decoration: none;
    border-width: 5px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #faebd7;

}
a:hover{
    color: #0061ff;
    background-color: #c3d1e3;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 3px solid #efd7a5;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    border-color: #efb60b;
    background-color: #efb60b;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #c19a12;
}
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #ffe875;
    border-color: #ffe875;
}
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgb(255, 153, 0);
}
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #ffea80;
}
.custom-checkbox:disabled+label::before {
    background-color: #efede9;
}
input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
/* для элемента label связанного с input[type="radio"] */
input[type="radio"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #bdb5ad;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
input[type="radio"]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #ffdab3;
}
/* стили для активной радиокнопки (при нажатии на неё) */
input[type="radio"]:not(:disabled):active+label::before {
    background-color: #ffdab3;
    border-color: #ffd6b3;
}
/* стили для радиокнопки, находящейся в фокусе */
input[type="radio"]:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgb(255, 162, 0);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
input[type="radio"]:focus:not(:checked)+label::before {
    border-color: #ffdf80;
}
/* стили для радиокнопки, находящейся в состоянии checked */
input[type="radio"]:checked+label::before {
    border-color: #efa30b;
    background-color: #efae0b;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
input[type="radio"]:disabled+label::before {
    background-color: #efefe9;
}